{% extends 'base.html' %}
{% load bootstrap4 %}
{% block head_title %}Login{% endblock %}

{% block content %}

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
	<div class="container h-100">
		<div class="blog-banner">
			<div class="text-center">
				<h1>Login</h1>
				<nav aria-label="breadcrumb" class="banner-breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item active" aria-current="page">Login</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- ================ end banner area ================= -->

<!--================Login Box Area =================-->
<section class="login_box_area section-margin">
	<div class="container">
		<div class="row">
        			<div class="col-lg-6">
				<div class="login_box_img">
					<div class="hover">

						<p>
							<h4>New to our website?</h4>
							<p>If you have not created an account yet, then please sign up</p>
							<a class="button button-account" href="">Create an Account</a>
						</p>

					</div>
				</div>
			</div>

			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>Sign In</h3>
					<form class="row login_form" method="POST" action="." id="contactForm">
						{% csrf_token %}
						<div class="col-md-12 form-group">
							<div class="creat_account">
								{% bootstrap_form form %}
							</div>
						</div>
						<div class="col-md-12 form-group">
							{% buttons %}
							<button type="submit" value="submit"
								class="button button-login w-100">Sign In</button>
							{% endbuttons %}
							{% comment %} <a href="{% url 'password_reset' %}">Forgot Password?</a> {% endcomment %}
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Login Box Area =================-->



{% endblock %}