{% extends 'base.html' %}
{% load bootstrap4 %}
{% block head_title %}Password reset complete{% endblock %}

{% block content %}

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
	<div class="container h-100">
		<div class="blog-banner">
			<div class="text-center">
				<h1>Password reset complete</h1>
				<p>Your new password has been set. You can log in now on the <a style="color: darkblue;" href="{% url 'login' %}">log in page</a>.</p>
			</div>
		</div>
	</div>
</section>
<!-- ================ end banner area ================= -->


{% endblock %}