{% extends 'base.html' %}
{% load bootstrap4 %}
{% block head_title %}Password Change Successful{% endblock %}

{% block content %}

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
	<div class="container h-100">
		<div class="blog-banner">
			<div class="text-center">
				<h1>Password change successful</h1>
				<nav aria-label="breadcrumb" class="banner-breadcrumb">
					<ol class="breadcrumb">
                        <a href="/" class="btn btn-success">Your password was changed.</a>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- ================ end banner area ================= -->


{% endblock %}