{% block content %}

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Order Confirmation</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Order Information</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->

<!--================Order Details Area =================-->
<section class="order_details section-margin--small">
  <div class="container">
    <p class="text-center billing-alert">Thank you. Your order has been received.</p>
    <div class="row mb-5">
      <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
        <div class="confirmation-card">
          <h3 class="billing-title">Order Info</h3>
          <table class="order-rable">
            <tr>
              <td>Order number</td>
              <td>: 60235</td>
            </tr>
            <tr>
              <td>Date</td>
              <td>: Oct 03, 2020</td>
            </tr>
            <tr>
              <td>Total</td>
              <td>:7000 LE</td>
            </tr>
            <tr>
              <td>Payment method</td>
              <td>: Check payments</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
        <div class="confirmation-card">
          <h3 class="billing-title">Billing Address</h3>
          <table class="order-rable">
            <tr>
              <td>Street</td>
              <td>: 56/8 Ahmed zaid</td>
            </tr>
            <tr>
              <td>City</td>
              <td>: Obour</td>
            </tr>
            <tr>
              <td>Country</td>
              <td>: Egypt</td>
            </tr>
            <tr>
              <td>Postcode</td>
              <td>: 1205</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="col-md-6 col-xl-4 mb-4 mb-xl-0">
        <div class="confirmation-card">
          <h3 class="billing-title">Shipping Address</h3>
          <table class="order-rable">
            <tr>
              <td>Street</td>
              <td>: 56/8 Ahmed zaid</td>
            </tr>
            <tr>
              <td>City</td>
              <td>: Obour</td>
            </tr>
            <tr>
              <td>Country</td>
              <td>: Egypt</td>
            </tr>
            <tr>
              <td>Postcode</td>
              <td>: 1205</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
</section>
<!--================End Order Details Area =================-->
{% endblock content %}