{% extends 'base.html' %} {% block content %}

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="blog">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Product Details</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              {{ item.title }}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->

<!--================Single Product Area =================-->
<div class="product_image_area">
  <div class="container">
    <div class="row s_product_inner">
      <div class="col-lg-6">
        <div
          class="owl-carousel owl-theme s_Product_carousel"
          style="display: block;"
        >
          <div class="single-prd-item">
            {% if item.image %}
            <img
              class="img-fluid"
              src="{% static 'img/product/three3.jpg' %}"
              alt="{{ item.title }}"
              style="height: 500px;"
            />
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="s_product_text">
          <h3>{{ item.title }}</h3>
          <h2>{{ item.price }} LE</h2>
          <ul class="list">
            <li>
              <a class="active" href="{{ item.category.get_absolute_url }}"
                ><span>Category</span>:{{ item.category }}</a
              >
            </li>
            <li>
              <a class="active" href="{{ item.brand.get_absolute_url }}"
                ><span>Brand</span>:{{ item.brand }}</a
              >
            </li>
          </ul>
          <p>
            {{ item.description }}
          </p>
          <div class="product_count">
            <a class="btn btn-danger" href="{{ item.get_remove_from_cart_url }}"
              >Remove from Cart<i class="fas fa-shopping-cart"></i
            ></a>
            <a class="btn btn-primary" href="{{ item.get_add_to_cart_url }}"
              >Add to Cart<i class="fas fa-cart-plus"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--================End Single Product Area =================-->
{% endblock content %}
