{% extends 'base.html' %} {% block content %}

<!-- ================ start banner area ================= -->
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Shop Brand</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Shop {% if brand %} {{ brand.title }} {% else %} All Brands {% endif %}
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ end banner area ================= -->

<!--Main layout-->
<main class="mb-5">
  <div class="container">
    <!--Navbar-->
    <nav style="background-color: darkblue;" class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">
      <!-- Navbar brand -->
      <span class="navbar-brand">Sort by:</span>
        <div class="dropdown show">
          <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Brands
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'products:product_list_category' %}">Categories</a>
          </div>
      </div>


      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {% if not category %}active{% endif %}">
            <a class="nav-link" href="{% url 'products:product_list_brand' %}">All
              <span class="sr-only">(current)</span>
            </a>
          </li>

          {% for b in brands %}
          <li class="nav-item {% if category.slug == c.slug %}active{% endif %}">
            <a class="nav-link" href="{{ b.get_absolute_url }}">{{ b.title }}</a>
          </li>
          {% endfor %}
        </ul>
        <!-- Links -->
      </div>
      <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->

    <!--Section: Products v.3-->
    <section class="text-center mb-4">
      <section class="lattest-product-area pb-40 category-list">
        <div class="row">
          {% for item in products %}
          <div class="col-md-6 col-lg-4">
            <div class="card text-center card-product">
              <div class="card-product__img">
                <img class="card-img" src="{% static 'img/product/three3.jpg' %}" alt="" style="height: 320px;" />
                <ul class="card-product__imgOverlay">
                  <li><a href="{{ item.get_add_to_cart_url }}">
                      <button><i class="ti-shopping-cart"></i></button>
                    </a></li>
                </ul>
              </div>
              <div class="card-body">
                <p>{{ item.category }}</p>
                <h4 class="card-product__title">
                  <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                </h4>
                <p class="card-product__price">{{ item.price }} LE</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </section>
    </section>
    <!--Section: Products v.3-->

    <!--Pagination-->
    {% if products.has_other_pages %}
    <nav class="d-flex justify-content-center wow fadeIn">
      <ul class="pagination pg-blue">
        <!--Arrow left-->
        {% if products.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="?page=1" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        {% endif %}

        {% for i in products.paginator.page_range %}
        {% if products.number == i%}
        <li class="page-item active">
          <a class="page-link" href="?page={{ i }}">{{ i }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {% else %}
        <li class="page-item">
          <a class="page-link" href="?page={{ i }}">{{ i }}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {% endif %}
        {% endfor %}

        {% if products.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="?page={{ products.paginator.num_pages }}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% endif %}
    <!--Pagination-->
  </div>
</main>
<!--Main layout-->

{% endblock content %}